/* '*' pretstavuva link koj dava still na site element vo html tagot */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* '.' e indicator deka se raboti za clasi a posle nego se pisuva imaeto na clasata */
.wholePage {
  /* heigth pretstavuva visina na elementot a posle nego se vnesuva kolku da bide visoko merni edinic ima mnogu a naj koristeni 
  se %,px,vh,rem,em vo ovoj slucaj ni vnesuvame vh ili visual height so ni kazuva kolku da bide golemo vo odnos na viewportata i se meri vo procenti */
  height: 200vh;
  /* width pretstavuva sirina na elemntot i nie vnesovme da bide 100 procenti od elmentot */
  width: 100%;
}
.navBar {
  /* ovdeka nie koristime px ili pikseli */
  height: 70px;
  width: 100%;
  /* display e element koj ni ovozmozuva da go promenime nacinot na koj se prikazuvaat elementite nie vnesuvame flex sto go pretvara elementot vo flexbox 
  flexboxot e compliciran pa zatoa imam link na koj mozete da vidite kako raboti https://www.w3schools.com/css/css3_flexbox.asp */
  display: flex;
  /* align items e bazirana vrz flex boxot kade gi podreduva elementint po y oskta na elemtnot vo ovoj slucaj vo sredina */
  align-content: center;
  /* justify-content isto taka e ov flexboxot no ovoj gi podreduva po x oskata vo ovoj slucaj gi podreduv taka sto site lementi kje imat ednakov prostor */
  justify-content: space-between;
  /* align-items gi pomestuva tekstot vnatre vo elementite vo ovoj slucaj na sredina  */
  align-items: center;
  /* position pretstavuva kakva pozicija ima elementot po default e static ili staticna no vo ovoj 
  slucaj turvime fixed sto znaci deka ignorira sve okolu nego i stoi na kade mu e bilo prethodno lokacijata */
  position: fixed;
  /* top pretstaviv kade da se naogja elemtot vo ovoj slucaj e 0 sto znaci na pocetok od top ili gorna strana  */
  top: 0;
  /* left e isto kako top samo sto tura se na pocetokot od levo */
  left: 0;
  /* font family pretstavuv atribut kade go promenuva fontot na tekstot vo koj e specifikuvan */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font size ni kazuva kakva golemin da bide vo ovoj slucaj 24 pikseli */
  font-size: 24px;
  /* margin e atribut koj pretstavuva bariera od elemnto i go otstranuva ementite okolu nego vo zavisnot od kolku mu 
  nie zadademe vo ovoj slucaj nie mu kazuvame da gi otrgne elmentite na dnoto od elemntot */
  margin-bottom: 5px;
  /* padding e atribut koj ni ovozmozuva da mrdame elementite vnatre vo elementot vo ovoj slucaj ni mu kazuvame da pomrden od desno kon levo za 100 pikseli
  i od levo kon desno za 20pikseli */
  padding: 0px 100px 0px 20px;
  background: rgb(253, 75, 29);
  background: linear-gradient(
    90deg,
    rgba(253, 75, 29, 1) 21%,
    rgba(252, 190, 69, 1) 100%
  );
  box-shadow: 0 4px 20px 1px gray;
  z-index: 100;
}
.img {
  height: 56px;
  width: 50px;
  padding-right: 10px;
}
.logoDiv {
  display: flex;
  align-items: center;
}
.links a {
  color: black;
  text-decoration: none;
}
.mainPageBack {
  background-image: url("./images/background.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: 70px;
}
.mainPage {
  background-image: url("./images/whitebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  margin: auto;
}
.introduction {
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutContent {
  padding: 50px 30% 300px 30%;
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  text-align: center;
}
.contactLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  margin: 20px 0px 0px 0px;
}
.contactLinks li {
  padding: 20px;
  margin: 0px 10px 100px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}
.contactLinks li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.contactContent {
  text-align: center;
  padding: 20px 0px 0px 0px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftContentPage {
  font-size: 60px;
  padding: 15px 50px 40px 20px;
}
.leftContent {
  border: 1px solid black;

  font-size: 28px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.392);
}
.leftContent p {
  display: flex;
  align-items: center;
}
.leftContent img {
  width: 500px;
  height: 400px;
  padding-right: 15px;
}
.rightContentPage {
  font-size: 60px;
  padding: 15px 50px 40px 20px;
}
.rightContentPage p {
  display: flex;
  flex-direction: row-reverse;
}
.rightContent {
  border: 1px solid black;

  font-size: 28px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.392);
  flex-direction: row-reverse;
}
.rightContent p {
  display: flex;
  align-items: center;
}
.rightContent img {
  width: 500px;
  height: 400px;
  padding-left: 15px;
}
.addButton {
  height: 35px;
  margin: 8px 0px 0px 18px;
  width: 150px;
  font-size: 20px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: rgb(199, 254, 0);
  border-radius: 10px;
  background-color: rgba(143, 143, 143, 0.5);
  position: relative;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.addButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 0.5s ease-in-out;
  z-index: 0;
}
.addButton:hover::before {
  width: 100%;
}
.addButton span {
  z-index: 1;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputs input {
  margin: 0px 0px 40px 0px;
  height: 24px;
  width: 400px;
  font-size: 20px;
}
.inputs div {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.confirmButton {
  width: 100%;
  display: flex;
  justify-content: center;
}
.confirmButton div {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: rgb(0, 119, 254);
  border-radius: 10px;
  background-color: rgba(255, 255, 0, 0.5);
  position: relative;
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.confirmButton div::before {
  content: "";
  position: absolute;

  top: 0;
  width: 100%;
  height: 0;
  background-color: rgba(254, 110, 0, 0.7);
  transition: height 0.5s ease-in-out;
  z-index: 0;
}
.confirmButton div:hover::before {
  height: 100%;
}
.confirmButton div p {
  z-index: 2;
}
@media (min-width: 1470px) and (max-width: 1770px) {
  .rightContentPage {
    font-size: 40px;
    padding: 15px 50px 40px 20px;
  }
  .rightContent {
    border: 1px solid black;

    font-size: 22px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.392);
    flex-direction: row-reverse;
  }
  .rightContent p {
    display: flex;
    align-items: center;
  }
  .rightContent img {
    width: 400px;
    height: 300px;
    padding-left: 15px;
  }
  .leftContentPage {
    font-size: 40px;
    padding: 15px 50px 40px 20px;
  }
  .leftContent {
    border: 1px solid black;

    font-size: 22px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.392);
  }
  .leftContent p {
    display: flex;
    align-items: center;
  }
  .leftContent img {
    width: 400px;
    height: 300px;
    padding-right: 15px;
  }
}
@media (min-width: 1190px) and (max-width: 1470px) {
  .rightContentPage {
    font-size: 40px;
    padding: 15px 50px 40px 20px;
  }
  .rightContent {
    border: 1px solid black;

    font-size: 19px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.392);
    flex-direction: row-reverse;
  }
  .rightContent p {
    display: flex;
    align-items: center;
  }
  .rightContent img {
    width: 400px;
    height: 300px;
    padding-left: 15px;
  }
  .leftContentPage {
    font-size: 40px;
    padding: 15px 50px 40px 20px;
  }
  .leftContent {
    border: 1px solid black;

    font-size: 19px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.392);
  }
  .leftContent p {
    display: flex;
    align-items: center;
  }
  .leftContent img {
    width: 400px;
    height: 300px;
    padding-right: 15px;
  }
}
@media (min-width: 910px) and (max-width: 1190px) {
  .rightContentPage {
    font-size: 40px;
    padding: 15px 50px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightContent {
    border: 1px solid black;
    width: 400px;

    font-size: 19px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.392);
    flex-direction: column;
    align-items: center;
  }
  .rightContent p {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .rightContent img {
    width: 400px;
    height: 300px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
  .leftContentPage {
    font-size: 40px;
    padding: 15px 50px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftContent {
    border: 1px solid black;
    width: 400px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.392);
  }
  .leftContent p {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .leftContent img {
    width: 400px;
    height: 300px;
    padding-bottom: 15px;
    padding-right: 0px;
  }
  .wholePage {
    height: 300vh;
    width: 100%;
  }
}
@media (max-width: 910px) and (min-width: 720px) {
  .rightContentPage {
    font-size: 40px;
    padding: 15px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightContent {
    border: 1px solid black;
    width: 400px;

    font-size: 19px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.392);
    flex-direction: column;
    align-items: center;
  }
  .rightContent p {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .rightContent img {
    width: 400px;
    height: 300px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
  .leftContentPage {
    font-size: 40px;
    padding: 15px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftContent {
    border: 1px solid black;
    width: 400px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.392);
  }
  .leftContent p {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .leftContent img {
    width: 400px;
    height: 300px;
    padding-bottom: 15px;
    padding-right: 0px;
  }
  .wholePage {
    height: 300vh;
    width: 100%;
  }
  .introduction {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addButton {
    height: 25px;
    margin: 8px 0px 0px 18px;
    width: 150px;
    font-size: 15px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: rgb(199, 254, 0);
    border-radius: 10px;
    background-color: rgba(143, 143, 143, 0.5);
    position: relative;
    overflow: hidden;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .addButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease-in-out;
    z-index: 0;
  }
  .addButton:hover::before {
    width: 100%;
  }
  .addButton span {
    z-index: 1;
  }
  .navBar {
    height: 70px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0px 50px 0px 20px;
    background: rgb(253, 75, 29);
    background: linear-gradient(
      90deg,
      rgba(253, 75, 29, 1) 21%,
      rgba(252, 190, 69, 1) 100%
    );
    box-shadow: 0 4px 20px 1px gray;
    z-index: 100;
  }
}
@media (max-width: 720px) and (min-width: 530px) {
  .rightContentPage {
    font-size: 40px;
    padding: 15px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightContent {
    border: 1px solid black;
    width: 300px;

    font-size: 17px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.392);
    flex-direction: column;
    align-items: center;
  }
  .rightContent p {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .rightContent img {
    width: 300px;
    height: 200px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
  .leftContentPage {
    font-size: 40px;
    padding: 15px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftContent {
    border: 1px solid black;
    width: 300px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.392);
  }
  .leftContent p {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .leftContent img {
    width: 300px;
    height: 200px;
    padding-bottom: 15px;
    padding-right: 0px;
  }
  .wholePage {
    height: 300vh;
    width: 100%;
  }
  .introduction {
    text-align: center;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addButton {
    height: 17px;
    margin: 8px 0px 0px 18px;
    width: 130px;
    font-size: 10px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: rgb(199, 254, 0);
    border-radius: 10px;
    background-color: rgba(143, 143, 143, 0.5);
    position: relative;
    overflow: hidden;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .addButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease-in-out;
    z-index: 0;
  }
  .addButton:hover::before {
    width: 100%;
  }
  .addButton span {
    z-index: 1;
  }
  .navBar {
    height: 70px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 0px 30px 0px 10px;
    background: rgb(253, 75, 29);
    background: linear-gradient(
      90deg,
      rgba(253, 75, 29, 1) 21%,
      rgba(252, 190, 69, 1) 100%
    );
    box-shadow: 0 4px 20px 1px gray;
    z-index: 100;
  }
}
@media (max-width: 530px) and (min-width: 0px) {
  .rightContentPage {
    font-size: 40px;
    padding: 15px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightContent {
    border: 1px solid black;
    width: 200px;

    font-size: 15px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.392);
    flex-direction: column;
    align-items: center;
  }
  .rightContent p {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .rightContent img {
    width: 200px;
    height: 100px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
  .leftContentPage {
    font-size: 40px;
    padding: 15px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftContent {
    border: 1px solid black;
    width: 200px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.392);
  }
  .leftContent p {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .leftContent img {
    width: 200px;
    height: 100px;
    padding-bottom: 15px;
    padding-right: 0px;
  }
  .wholePage {
    height: 300vh;
    width: 100%;
  }
  .introduction {
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addButton {
    height: 13px;
    margin: 8px 0px 0px 18px;
    width: 100px;
    font-size: 10px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: rgb(199, 254, 0);
    border-radius: 10px;
    background-color: rgba(143, 143, 143, 0.5);
    position: relative;
    overflow: hidden;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .addButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease-in-out;
    z-index: 0;
  }
  .addButton:hover::before {
    width: 100%;
  }
  .addButton span {
    z-index: 1;
  }
  .navBar {
    height: 70px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0px 30px 0px 10px;
    background: rgb(253, 75, 29);
    background: linear-gradient(
      90deg,
      rgba(253, 75, 29, 1) 21%,
      rgba(252, 190, 69, 1) 100%
    );
    box-shadow: 0 4px 20px 1px gray;
    z-index: 100;
  }
}
.deleteBtn {
  font-size: 10px;
  border: 1px black solid;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.deleteBtn:hover {
  transition: 0.5;
  background-color: rgba(253, 75, 29, 0.8);
}
